
########## Config  #################
*.log
*.zip

#Build Directories
[Dd]ebug/
[Rr]elease/
[Oo]utput/
_build/
**/[Oo]utput/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec
*.jlink


########## PRIVATE KEY  #################
privkey.pem